<?xml version="1.0"?>
<yandex>
    <profiles>
        <default>
            <max_memory_usage>12884901888</max_memory_usage>
            <max_bytes_before_external_sort>1073741824</max_bytes_before_external_sort>
            <max_bytes_before_external_group_by>1073741824</max_bytes_before_external_group_by>
            <max_threads>8</max_threads>
            <max_insert_threads>4</max_insert_threads>
            <use_uncompressed_cache>0</use_uncompressed_cache>
            <load_balancing>random</load_balancing>
        </default>
    </profiles>

    <users>
        <default>
            <profile>default</profile>
            <networks>
                <ip>::/0</ip>
            </networks>
            <quota>default</quota>
        </default>
    </users>

    <quotas>
        <default>
            <interval>
                <duration>3600</duration>
                <queries>0</queries>
                <errors>0</errors>
                <result_rows>0</result_rows>
                <read_rows>0</read_rows>
                <execution_time>0</execution_time>
            </interval>
        </default>
    </quotas>
</yandex>
